#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#loadingScreen {
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loadingText {
  text-align: center;
  align-self: center;
  animation: type 5s linear infinite;
}

@keyframes type {
  from { width: 0; }
}
